*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: #E3F1FF;
}

img{
    display:block;
    height: auto;
    width: auto;
}

h2{
    font-size: 2rem;
    text-transform: uppercase;
    color: #FEB219;
    font-weight: 900;
    padding: 6rem 0 2rem 0;
}

h3{
    text-transform: uppercase;
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    min-height: 165vh;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 3;
    box-shadow: 0 0 5px 0 #a7a6a6;
}



.menu_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.logo{
    height:3rem;
    width: auto;
}

.logo_container{
    display:flex;
    align-content: center;
    justify-content: center;
}


.menu{
    list-style: none;
    display:flex;
    justify-content: flex-end;
    width: 100%;
    height: 4rem;
}

.menu li{
    display:flex;
    align-items: center;
    justify-content: center;
}

.menu_item{
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #101F3D;
    padding: 1rem 2rem 1rem 2rem;

}

.menu_item:hover{
    transition-delay: 150ms;
    border-radius: 1rem;
    color: #FEB219;
    
}

.support_button{
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    background-color: #101F3D;
    border: 1px solid #101F3D ;
    border-radius: 1rem;
}

.support_button:hover{
   background-color:#FEB219; ;
   transition-delay: 150ms;
}

.video-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(/img/intro_film.mp4);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    z-index: -1;
}

video{
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    object-position: fixed;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EFEFEF;

}

.intro_firstpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15rem 0 0 0;
}

.intro_titel{
    font-weight: 700;
    font-size: 5rem;
}

.intro_content{
     font-size: 1.5rem;
     padding: 3rem 0 0 0
}

.scroll_down{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    margin: auto 0 5rem 0;
}

.scroll_down img{
    filter:invert();
    height: 2rem;
    width: 2rem;
}

.scroll_down p{
    font-size: 1rem;
}

.intro_tekst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 5rem 0;
}

.intro_tekst p{
    font-size: 1.5rem;
    padding-top: 1.5rem;
}


/* MAIN */
section{
    padding: 0rem 15%;
    background-color: #FFFFFF;
}

    /* Selling point */
    .selling_points_container{
        display: flex;
        justify-content: center;
        background-color: #FEB219;
    }

    .selling_points{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 33%;
        padding: 2rem;
    }

    .selling_points img{
        filter: invert();
        height: 7rem;
    }

    .selling_points .titel{
        font-size: 1.7rem;
        color:#FFFFFF;
        text-transform: uppercase;
        font-weight: bold;
        padding: 3rem 0 1rem 0;
    }

    .selling_points .content{
        font-size: 1rem;
        color: #EFEFEF;
        height: 35%;
    }


    /* Diensten */
    .sectie_diensten{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
    }

    .container_diensten{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
    }

    .diensten_intro{
        text-align: center;
        padding-bottom: 3rem;
        margin: 0 auto;
    }

    .diensten_type{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 1rem 0;
    }

    .dienst_type_button{
        flex-grow: 1;
        font-size: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        padding: 0.5rem 0 0.5rem 0;
        margin: 0.7rem;;
        border: none;
        background-color: #FFFFFF;
        border-bottom: 3px solid #EFEFEF;
    }

    .dienst_type_button:hover{
        border-bottom: 3px solid #FEB219;
        background-color: #FEB219;
        color: #FFFFFF;
        transition-delay: 150ms;
        cursor: pointer;
    }

    
    .button_actief{
        border-bottom: 3px solid #FEB219;
        color: #FEB219;
    }

    .diensten_content_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .diensten_content{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .diensten_content img{
        height: 10rem;
        width: 10rem;
        margin-right: 3rem;
    }

    .diensten_content h3{
        color:#101F3D;
        text-align: center;
        padding: 0 0 3rem 0;
    }

    .diensten_content .details{
        display:flex;
        align-items: center;
        text-align: justify;
    }



/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101F3D;
    color: #E3F1FF;
    height: 12vh;
    width: 100%;
}

footer p{
    text-align: center;
    padding: 0.5rem;
}

/* JS classes */
.hidden{
    display:none;
}